{% extends 'base.html' %}

{% block content %}
<h1> Profile </h1>

<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ from.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{ f.label }}</label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <p><button class="save-new-data-profile-btn" type="submit" >Save</button></p>
</form>

<hr>
<p><a id="link-change-password" href="{% url 'users:password_change' %}">Change password</a></p>

{% endblock %}